/*
**** Lachlan Court
**** c3308061
**** SENG1050 Assignment 1
**** 17/09/2020
*/

body {
	/* 	Define background image, centred */	
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/* Set left margin (And all other margins) to 1cm */
	margin: 1cm;
	margin-top: 0.3%;
	/* Font and colour definition */
	font-family: "times new roman", "helvetica", serif;
	color: #000099;
	font-size:11pt;
}

/* Define style for header tag */
header {
	margin-bottom: 8%;
}

h1 {
	text-align: center;
	font-family: "arial black", "impact", serif;
	font-size: 3.5em;
	background-color: #DDDDFF;
	color: #000099;
	margin-bottom: 0;
}

h2 {
	background-color: #DDDDFF;
	color: #000099;
	text-decoration: underline;
	margin-left: 42%;
	margin-right: 42%;
	width: 16%;
	padding: 1%;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 0px;
}

h3 {
	font-family: "Cambria", serif;
	background-color: #000050;
	color: #EEFFEE;
	font-size: 20pt;
	font-weight: bold;
	margin-bottom: -0.5%;
	padding: 1%;
	padding-bottom: 0.5%;
	padding-top: 0.5%;
	border-radius: 5px;
	display: inline-block;
}

/* Select multiple elements of the same class, also capitalise h1 and h2 */
.caps {
	text-transform: uppercase;
}

.capitilizeFirst {
	text-transform: capitalize;
}

li {
	list-style-type: none;
}

p {
	background-color: #DDDDFF;
	color: #000099;
	margin-bottom: 17%;
	margin-left: 31%;
	width: 65%;
	text-indent: 1em;
	padding: 1%;
	border-radius: 25px;
	font-size: 14pt;
}

/* Class selector */
p.welcome {
	font-size: 20pt;
	border-radius: 10px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: -5px;
	margin-bottom: 17%;
	text-align: justify;	
}

p.noMargin {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}


img {
	float: left;
	margin-right: 4%;
	width: 25%;
	border-style: solid;
	border-color: black;
	border-width: 5px;
}


	

/* ID selector */
#contactForm {
	background-color: rgba(80, 0, 80, 0.3);
	color: #EEFFEE;
	margin-top: 0%;
	padding-right: 1%;
	padding-bottom: 1%;
	text-align: right;
}

/* Hyperlink formatting */

a {
	color: #EEFFEE;
}

a:link {
	color: #EEFFEE;
}

a:visited {
	color: #BBBBFF;
}

a:hover {
	font-weight: bold;
	color: #BBCCBB;
	font-size: 1.1em;
}
a:active {
	color: #DDDD00;
}

/* Menu button formatting */

a.menuButton{
	text-decoration: none;
	color: #EEFFEE;
	background-color: #000050;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

a:visited.menuButton{
}

a:hover.menuButton{
	cursor: pointer;
	border-radius: 5px;
	font-size: 1em;
	
}

a:active.menuButton{
	color: #CCDDCC;
	background-color: #000090;
}

a.externalURL {
	color: #000099;
}

a:link.externalURL {
	color: #000099;
}

a:visited.externalURL {
	color: #550099;
}

a:hover.externalURL {
	font-weight: bold;
	color: #000099;
	font-size: 1.1em;
}
a:active.externalURL {
	color: #999900;
}


/* span element for extra formatting */

span {
	margin: 2%;
	padding: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	border-radius: 10px;
	
	font-size: 14pt;
	background-color: #000050;
	color: #EEFFEE;
}

span.xslBreak {
	font-size:675%;
	background-color:#DDDDFF;
	padding:5px;
}

span.basicFormatting {
	background-color:#DDDDFF;
	color: #000099;
	margin: 0%;
	margin-left: 0%;
	padding: 0%;
	border-radius: 0%;
	font-size: 11pt;
}

#indent {
	margin-left: 3%;
}

hr {
	border-color: #DD00DD;
}


.menuContainer {
	background-color: #DDDDFF;
}

.dropdown {
}

button {
	text-decoration: none;
	font-weight: bold;
	color: #EEFFEE;
	background-color: #000050;
	padding-bottom: 0.5%;
	padding-top: 0.5%;
	float:left;
	position:relative;
	margin-bottom: 2%;
}

button:hover {
	cursor: pointer;
	border-radius: 5px;
	font-size: 1.1em;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding-top: 0.5%;
  padding-left: -5%;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}










